openapi: 3.0.3
info:
  title: Prematch Offer API
  description: Api for providing STS prematch offer. API URL: https://prematch-offer-gateway-djgvdr3e.ew.gateway.dev
  version: 1.0.0
servers:
  - url: https://prematch-offer-gateway-djgvdr3e.ew.gateway.dev
tags:
  - name: offer
security:
  - api_key: []
paths:
  /offer:
    get:
      tags:
       - offer
      summary: Get prematch offer
      parameters:
        - name: to
          in: query
          description: Status values that need to be considered for filter
          required: false
          schema:
            type: string
            example: 2023-12-06T01:00
        - name: sport_id
          in: query
          description: Status values that need to be considered for filter
          required: false
          schema:
            type: integer
            example: 187
        - name: league_id
          in: query
          description: Status values that need to be considered for filter
          required: false
          schema:
            type: integer
            example: 59991
      responses:
        '200':
          description: A successful response
          content:
           application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  away_team_name:
                    type: string
                  home_team_name:
                    type: string
                  id:
                    type: integer
                  name:
                    type: string
                  note:
                    type: string
                  start_at:
                    type: string
                    format: date-time
                  league:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      order:
                        type: integer
                  sport:
                    type: object
                    properties:
                      id:
                        type: integer
                      code:
                        type: string
                      name:
                        type: string
                      order:
                        type: integer
                  region:
                    type: object
                    properties:
                      id:
                        type: integer
                      code:
                        type: string
                      name:
                        type: string
                      order:
                        type: integer
                  markets:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        note:
                          type: string
                        type_id:
                          type: integer
                        type_name:
                          type: string
                        order:
                          type: integer
                        handicap:
                          type: string
                        tree_type_id:
                          type: integer
                        betradar_id:
                          type: integer
                        info_number:
                          type: integer
                        odds_sort_type:
                          type: string
                        odds:
                          type: array
                          items:
                            type: object
                            properties:
                              is_home_team:
                                type: string
                              id:
                                type: integer
                              value:
                                type: string
                              selection:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                                  long_name:
                                    type: string
                                  handicap:
                                    type: string
                                  order:
                                    type: integer
                        is_custom_bet_market_available:
                          type: boolean
                        bundles:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              order:
                                type: integer
                  markets_count:
                    type: integer
                  is_custom_bet_available:
                    type: boolean
components:
  securitySchemes:
      api_key:
        type: apiKey
        name: x-api-key
        in: header
